<div class="admin-food-page">
  <div class="admin-food-actions">
    <button mat-raised-button >
      <a routerLink="/admin/food/new">New</a>
    </button>
  </div>
  <table mat-table [dataSource]="foods" class="mat-elevation-z8 food-table">
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> 
      <img [src]="element.images[0]" alt="avatar" srcset="">
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell class="food-table__column-title" *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container  matColumnDef="price">
      <th mat-header-cell class="food-table__column-title" *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
    </ng-container>

    <ng-container  matColumnDef="category">
      <th mat-header-cell class="food-table__column-title" *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container  matColumnDef="description">
      <th mat-header-cell class="food-table__column-title" *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container  matColumnDef="actions">
      <th mat-header-cell class="food-table__column-title" *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element">  
        <button mat-raised-button color="primary">Edit</button>
        <button mat-raised-button color="warn">Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
