.food-card{
  width: 100%;
  max-width: 300px;
  min-height: 350px;
  height: 350px;
  margin-right: 15px;
  margin-top: 10px;
  position: relative;
  mat-card-actions{
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
}
