<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link px-2 text-white">Home</a></li>
          <li><a routerLink="/products"
            routerLinkActive="selected"
            class="nav-link px-2 text-white">Products</a></li>
            <li><a routerLink="/foods"
            routerLinkActive="selected"
            class="nav-link px-2 text-white">Foods</a></li>
          <ng-container *ngIf="currentUser$ | async as user" >
          <li >
            <button mat-button class="dropdown" [matMenuTriggerFor]="menu">{{user.displayName || user.email}}</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <a routerLink="/my/order">My Orders</a>
              </button>
              <ng-container *ngIf="user.isAdmin">
                <button mat-menu-item>
                  <a routerLink="/admin/foods">Manage Foods</a>
                </button>
                <button mat-menu-item>
                  <a routerLink="/admin/products">Manage Products</a>
                </button>
                <button mat-menu-item>
                  <a routerLink="/admin/oders">Manage Oders</a>
                </button>
              </ng-container>
              <button mat-menu-item (click)="logout()">
                Logout
              </button>
            </mat-menu>
          </li>
          </ng-container>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>
        <div class="text-end" *ngIf="!(currentUser$ | async)">
          <button type="button" class="btn btn-outline-light me-2">
            <a routerLink="/login">Login</a>
          </button>
          <button type="button" class="btn btn-warning">
            <a routerLink="/sign-up">Sign-Up</a>
          </button>
        </div>
      </div>
    </div>
  </header>
