<div class="product-detail-page">
  <div class="form-container">
  <form  [formGroup]="productDetailForm">
    <h1> Product Detail </h1>
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title" ng-disabled="all"/>
      <mat-error *ngIf="title?.errors?.['required']">
        Title is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price" formControlName="price" />
      <mat-error *ngIf="price?.errors?.['required']">
        Price is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description" />
    </mat-form-field>
    <mat-form-field>
      <mat-select [ngModel]="product?.category" formControlName="category">
        <mat-option *ngFor="let c of (categories$ | async)" [value]="c.name" >
          {{c.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Photo URL" formControlName="photoUrl" />
    </mat-form-field>
    <button mat-raised-button color="primary" >Edit</button>
  </form>
  </div>
  <img [src]="photoUrl" alt="preview">
</div>
